<html>
    <head>
        <title>Delete Parcel</title>
        <link rel="stylesheet" href = "./css/bootstrap.min.css" />
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="jumbotron text-center">
            <h2>Delete Parcels</h2>
        </div>
        <a type="button" class="btn btn-primary btn-lg" href="/">Home</a>
        <a type="button" class="btn btn-primary btn-lg" href="/getparcels">List Parcels</a>
        <a type="button" class="btn btn-primary btn-lg" href="/updateparcel">Update Parcel</a>
        <a type="button" class="btn btn-primary btn-lg" href="/deleteparcel">Delete Parcel</a>

        
        <div class="dropdown">
            <button class="dropbtn">Deletion Criterion
            </button>
            <div class="dropdown-content">
              <a href="/deleteallbyweight">Weight</a>
              <a href="/address">Address</a>
              <a href="/deleteallbyfragile">Fragile</a>
            </div>
        </div>    
    </body>
</html>