<html>
    <html>
    <head>
        <title>List Parcel By Weight</title>
        <link rel="stylesheet" href = "./css/bootstrap.min.css" />
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="jumbotron text-center">
            <h2>List Parcels by Weight</h2>
        </div>
        <a type="button" class="btn btn-primary btn-lg" href="/">Home</a>
        <a type="button" class="btn btn-primary btn-lg" href="/getparcels">List Parcels</a>
        <a type="button" class="btn btn-primary btn-lg" href="/updateparcel">Update Parcel</a>
        <a type="button" class="btn btn-primary btn-lg" href="/deleteparcel">Delete Parcel</a>

        <form action="/postparceldatabyweight" method="POST">

            Weight min<input type="number"  name="weight-min" /> </br>
            Weight max<input type="number"  name="weight-max" /> </br>
            <input type="submit" value="Submit" /> </br>
        </form>
        
    </body>
</html>