<html>
    <head>
        <title>Update Parcel</title>
        <link rel="stylesheet" href = "./css/bootstrap.min.css" />
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="jumbotron text-center">
            <h2>Update Parcels</h2>
        </div>
        <a type="button" class="btn btn-primary btn-lg" href="/">Home</a>
        <a type="button" class="btn btn-primary btn-lg" href="/getparcels">List Parcels</a>
        <a type="button" class="btn btn-primary btn-lg" href="/updateparcel">Update Parcel</a>
        <a type="button" class="btn btn-primary btn-lg" href="/deleteparcel">Delete Parcel</a>

        <form action="/updateparceldata" method="POST">

            ID <input type="text"  name="id" /> </br>
            New Sender <input type="text"  name="nsender" /> </br>
            New Address <input type="text"  name="naddress" /> </br>
            Weight <input type="number"  name="nweight" /> </br>
            Fragile <input type="text" name="nfragile" /> </br>
            <input type="submit" value="Submit" /> </br>
        </form>

    </body>
</html>